.header {
    .header-line {
        width: 16rem;
    }
}
@media screen and (max-width: 1140px) {
    .header {
        width: 100%;
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        margin: 4rem 0 0 0;

        h1 {
            margin-left: 0;
        }

        .header-line {
            display: none;
        }
    }
}