#toaster-main-container {
    display: flex;
    height: 70px;
    padding: 5px 15px 5px 15px;
    text-align: center;
    position: fixed;
    top: 0;
    width: 100%;
    align-items: center;
    justify-content: center;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;

    .toaster-close-button-icon {
        position: fixed;
        right: 0;
        padding: 9px;
        top: 0;
        background: none;
        box-shadow: none;
        border: none;
        cursor: pointer;
    }
}