.fadeInUp {
    -webkit-animation: fadeInUp 2.5s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadeInUp 2.5s; /* Firefox < 16 */
    -ms-animation: fadeInUp 2.5s; /* Internet Explorer */
    -o-animation: fadeInUp 2.5s; /* Opera < 12.1 */
    animation: fadeInUp 2.5s;
}

.fadein {
    -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 2s; /* Firefox < 16 */
    -ms-animation: fadein 2s; /* Internet Explorer */
    -o-animation: fadein 2s; /* Opera < 12.1 */
    animation: fadein 2s;
}
#homepage-container {
    flex-grow: 1;
    background-size: cover;
    background-position:center;

    .homepage-info-parent {
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));;
        column-gap: 1rem;
        
        .homepage-purpose-section {
            display: flex;
            flex-direction: column;
            
            .hompage-purpose-title {
                &.fadein {
                    @keyframes fadein {
                        from {opacity: 0;}
                        
                        to {opacity: 1}
                    }
                }
            }
            .homepage-purpose-text {
                color: white;
                width: 80%;
                font-size: 20px;
                font-weight: lighter;
                line-height: 1.8;
                &.fadeInUp {
                    @keyframes fadeInUp {
                        from { opacity: 0; transform: translate3d(0,20px,0) }
                        
                        to {opacity: 1;transform: translate3d(0,0,0);}
                    }
                }
            }
        }
        .homepage-dev-updates-section {
            margin-left: 20%;
            margin-right: 32px;
            .homepage-dev-updates-text {
                &.fadein {
                    @keyframes fadein {
                        from {opacity: 0;}
                        
                        to {opacity: 1}
                    }
                }
            }
            .homepage-dev-updates-text {
                line-height: 1.8;
                font-size: 20px;
                font-weight:lighter;
                &.animated {
                    @keyframes fadeInUp {
                        from {opacity: 0;transform: translate3d(0,40px,0)}
                        
                        to {transform: translate3d(0,0,0);opacity: 1}
                    }
                }
            }
        }
    }
    .footer-url:hover {
        color: white;
    }
}
@media screen and (max-width: 1140px) {
    #homepage-container {
    background-size: inherit;
    background-position: inherit;
    padding: 1rem;
    padding-bottom: 2rem;
    padding-top: 8rem;
        .homepage-info-parent {
            display: flex;
            flex-direction: column;
            text-align: center;
            margin-top: 4em;
            
            .homepage-purpose-section {
                margin-left: 0;
                .homepage-purpose-text {
                    width: 100%;
                }
            }            
            .homepage-dev-updates-section {
                margin-left: 0px;
                margin-right: 0px;
                margin-top: 8rem;
                .homepage-dev-updates-title {
                    color: white;
                }
                .homepage-dev-updates-text {
                    color: white;
                }
            }
        }
    }
}