body {
    margin: 0;
    padding: 0;
}

#homepage-container {
    margin-bottom: 50px;

    .homepage-content-container {
        margin-bottom: 90px;
        @media screen and (max-width: 767px) {
            text-align: center;
        }
    }
    
    .homepage-information-container {
        display: flex;
        flex-direction: row;
        margin-bottom: 50px;
        padding: 0 40px 20px 40px;
        h1 {
            color: #0e6c9d;
        }

        .welcome-text-section-container {
            flex-basis: 60%;
            margin-right: 20px;

            @media screen and (max-width: 767px) {
                margin-right: 0px;
            }
        }
    
        .dev-updates-container {
            margin-left: 100px;
            
            @media screen and (max-width: 767px) {
                margin-left: 0px;
            }
        }

        // homepage-content-container mobile view column
        @media screen and (max-width: 767px) {
            display: flex;
            flex-direction: column;
            padding: 0 20px 10px 20px;
            h1 {
                text-align: center;
            }
        }
    }

    .get-registered-button {
        cursor: pointer;
        padding: 1rem;
        margin-right: 1rem;
        background: #ff8900;
        text-decoration: none;
        color: #fff3e6;
        font-size: 1.2rem;
        font-weight: bold;
        text-shadow: 1px 1px #e27900;
        border-bottom: solid .2rem #e27900;
        border-top: solid .2rem transparent;
        transition: all .5s;
        margin-left: 40px;
        @media screen and (max-width: 767px) {
                margin-left: 0px;
            }
    }
    .get-registered-button:hover {
        background: #faa544;
    }

    .register-button-container {
        position:relative;
    }
}
