body, html {
    margin:0;
    padding:0;
    height:100%;
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
}

#app-container {
    font-family: 'Lato';
    height:100%;
    position:relative;
}

