#form-parent-container {
    font-family: Arial, sans-serif;
    position: relative;
    // height: 100%;

    h3 {
        color: #ff8900;
    }

    .input-field-container {
        margin-top: 100px;
        .input-fields{
            border:0;
            border-bottom: 1px solid grey;
            // height: 50px;
            padding: 25px 0 0 0;
            width: 200px;
            margin-right:10px;
            margin-bottom: 10px;
            outline: none;
            font-size: 15px;
        }
    }
    
    .form-course-title {
        font-size: 22px;
        
    }

}