#form-parent-container {
    min-height: calc(100vh - 200px - 200px);
    .form-content {
        margin-left: 40px;
        margin-bottom:40px;
    }
    h3 {
        color: #ff8900;
    }

    .input-field-container {

        .input-fields{
            border:0;
            border-bottom: 1px solid grey;
            padding: 25px 0 0 0;
            width: 200px;
            margin-right:10px;
            margin-bottom: 10px;
            outline: none;
            font-size: 15px;
            @media screen and (max-width: 767px) {
                width: 80%;
            }
        }
        .input-fields:focus, .input-fields:active {
            background: transparent;
        }
    }
    
    .form-title {
        font-size: 22px;
        margin-bottom:5px;
    }

    .submit-button {
        cursor: pointer;
        padding: 1rem;
        margin-right: 1rem;
        background: #ff8900;
        text-decoration: none;
        color: #fff3e6;
        font-size: 1.2rem;
        font-weight: bold;
        text-shadow: 1px 1px #e27900;
        border-bottom: solid .2rem #e27900;
        border-top: solid .2rem transparent;
        transition: all .5s;
        width: 190px;
        margin-top: 40px;
        @media screen and (max-width: 767px) {
                margin-left: 0px;
            }
    }
    .submit-button:hover {
        background: #faa544;
    }

}